<form>
	<div class="form-group">
		<label>Descrição</label>
		<input type="text" class="form-control" ng-model="classificacao.Descricao">
	</div>
	<div class="form-group">
		<label>Caracteristica</label>
		<input type="text" class="form-control" ng-model="classificacao.Caracteristica">
	</div>
	<div class="form-group">
		<label>Idade Minima</label>
		<input type="number" class="form-control" ng-model="classificacao.IdadeMinima">
	</div>

	<button type="button" class="btn btn-default">Submit</button>
</form>